@import url("http://fonts.googleapis.com/css?family=Roboto");
body {
  font-family: "Roboto", sans-serif;
}

.btn {
  border-radius: 2px;
}

.btn-primary {
  background: #00A7EB;
  border-color: #0095d2;
}
.btn-primary:hover {
  background: #0083b8;
  border-color: #00719f;
}

.form-control {
  border-radius: 2px;
}
.form-control:focus {
  border-color: #00A7EB;
}

.chat-window {
  border-radius: 2px;
}
.chat-window--heading {
  border-bottom: 1px solid #ddd;
  padding: 20px 15px;
  text-transform: uppercase;
}
.chat-window--title {
  margin: 0;
  font-size: 16px;
  color: #6A7276;
}
.chat-window--body {
  height: 500px;
  overflow-y: scroll;
}
.chat-window--footer {
  background: #F2F5F6;
  padding: 15px;
}
.chat-window--messages {
  margin: 0;
}

.chat-message {
  border: 0;
  padding: 0;
  margin-bottom: 15px !important;
}
.chat-message--profile-pic {
  border-radius: 50%;
}
.chat-message--meta {
  padding: 15px 0;
  color: #6A7276;
  font-size: 13px;
}
.chat-message--body {
  background: #F2F5F6;
  color: #6A7276;
  padding: 15px;
  border-radius: 2px;
  position: relative;
  word-wrap: break-word;
}
.chat-message--arrow {
  position: absolute;
  top: 50%;
  margin-top: -8px;
  right: 100%;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 8px 10px 8px 0px;
  border-color: transparent #F2F5F6 transparent transparent;
}
.chat-message.own-message .chat-message--body {
  background: #00A7EB;
  color: #fff;
}
.chat-message.own-message .chat-message--arrow {
  border-color: transparent transparent transparent #00A7EB;
  left: 100%;
  border-width: 8px 0 8px 10px;
}
.chat-message.own-message .chat-message--meta {
  text-align: right;
}
.chat-message.own-message .chat-message--profile-pic-col {
  text-align: right;
}

.popover {
  border-radius: 3px;
}

.loading {
  text-align: center;
}
.loading--main-title {
  margin: 10px 0 5px;
}
.loading--sub-title {
  font-size: 14px;
  margin: 0 0 20px;
}
